<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/header::header}"></div>
		</div>
		<span th:text="#{iotstar.message.hello}"></span> <a
			href="?language=en">English</a> <a href="?language=vi_VN">Viet
			Nam</a>
	</header>
	<main class="container">
		<!-- <nav class = "row">
			<div class = "col">
			<div th:replace="!{admin/fragments/nav::nav}"></div>
			</div>
			</nav>-->
		<section class="row mt-4">
			<div class="col mt-5 mb-5">
				<div layout:fragment="content"></div>
		</section>
	</main>
	<footer class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/footer::footer}"></div>
		</div>
	</footer>

</body>
</html>